{:site-title           "Ñedquen - NqN"
 :author               "OscarFToro"
 :description          "Computer Science and Applied Mathematics"
 :site-url             "http://nqn.github.io/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts-output"
 :page-root-uri        "pages-output"
 :tag-root-uri         "tags-output"
 :author-root-uri      "authors-output"
 :blog-prefix          "/"
 :rss-name             "feed.xml"
 :rss-filters          ["erlang","fsharp","f#","reasonml"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "roto_chileno"
 :resources            ["img"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   2
 :previews?            false
 :clean-urls?          true
 :hide-future-posts?   true
 :klipse               {}
 :markdown-shell-command ["pandoc"]
 :debug?               false}
